---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="あーるについて"
	pubDate={new Date('August 08 2021')}
	heroImage=""
>
	<h4 class="text-center">自己紹介</h4>
	<figure class="profile-image">
		<img src="/r_profile.jpg" alt="あーるのプロフィール画像">
	</figure>
	<p class="text-center">
		幼少期に祖母が作ってくれた武器でダンジョンに潜り始めたのがきっかけでシレン2にハマる。
	</p>
	<p class="text-center">
		中学生までは頻繁にプレイしていたが、高校に入ると同時に寮になったためプレイしなくなる。
		2016年ごろに再びプレイし始め、大会へ参加したことをきっかけにシレン2界隈で活動するようになる。
	</p>
	<p class="text-center">
		現在はシレン2のTAをする人が増えることを願って、シレン2総合の運営や不思議フェスのSuperStaffとして活動している。
	</p>
	<h5 class="text-center">やっているTA</h5>
	<ul>
		<li>風来のシレン2</li>
		<li>チルノ見参</li>
		<li>ドラえもん3 魔界のダンジョン</li>
		<li>It Takes Two</li>
		<li><a href="https://www.speedrun.com/ja-JP/users/r_iwn">その他の活動</a></li>
	</ul>
	<h5 class="text-center">やっている活動</h5>
	<ul>
		<li>風来のシレン2 総合コミュ 運営長</li>
		<li>不思議RTAフェス SuperStaff サーバーサイドエンジニア</li>
		<li>アイワナ(現在はほぼやっておらず)</li>
	</ul>
	<h5 class="text-center">過去に参加した大会など</h5>
	<ul>
		<li>2016/07/01～07/24 真黒歌鳥杯(最果て99FTA) 7位/12人 1時間48分6秒</li>
		<li>2016/10/01～10/08 神社20FTA大会 5位/8人 8分15秒</li>
		<li>2016/12/17～12/24 あずもるコミュ二周年記念大会 27位/53人 1時間6分18秒</li>
		<li>2017/3/17～3/26 風来のシレン2 ビンゴ大会 3位/7人</li>
		<li>2017/9/29～10/1 風来のシレン2 17周年記念 紅白TA合戦 紅組負け</li>
		<li>2018/1/1～1/3 新年最果て一発打開大会 1位タイ/10人 打開</li>
		<li>2018/9/7～9/9 風来のシレン2 18周年記念 紅白TA合戦 紅組勝ち</li>
		<li>2018/11/16～12/16 四大ダンジョンTA大会 1位</li>
		<li>2019/5/1 令和記念人生プレイ大会 1位タイ/13人 打開</li>
		<li>2019/9/7～9/9 風来のシレン2 18周年記念 紅白TA合戦 白組勝ち</li>
		<li>2019/10/6～10/13 第三回あずもるコミュ5周年記念大会36位/53人 2時間1分13秒</li>
		<li>2020年 第1回不思議のダンジョンRTAフェス ストーリーTA 最果てへの道99FTA</li>
		<li>2021年 第2回不思議のダンジョンRTAフェス 最果てへの道99FTA 解説</li>
		<li>2022年 第3回不思議のダンジョンRTAフェス ストーリーTA 最果てへの道99FTA ドラえもん3魔界のダンジョン 解説</li>
		<li>2023年 第4回不思議のダンジョンRTAフェス チルノ見参</li>
		<li>2023/06/25 雀走戦 総合3位</li>
	</ul>
</Layout>

<style>
	.text-center {
		text-align: center;
	}
	.profile-image {
		text-align: center;
	}
	.profile-image img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}
</style>