---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="text-center">シレン2日記へようこそ</h1>
			<p>
				このサイトはシレンジャーのあーるが風来のシレン2 鬼襲来シレン城に関することを書き連ねるブログです。
			</p>
			<p>
				主にTAをプレイしているので、TAに関する内容の割合が多いです。
			</p>
			<h4 class="text-center">自己紹介</h4>
			<figure class="profile-image">
				<img src="/r_profile.jpg" alt="あーるのプロフィール画像">
			</figure>
			<p class="text-center">
				幼少期に祖母が作ってくれた武器でダンジョンに潜り始めたのがきっかけでシレン2にハマる。
			</p>
			<p class="text-center">
				中学生までは頻繁にプレイしていたが、高校に入ると同時に寮になったためプレイしなくなる。
				2016年ごろに再びプレイし始め、大会へ参加したことをきっかけにシレン2界隈で活動するようになる。
			</p>
			<p class="text-center">
				2024年2月26日に総合コミュ運営長をやめて活動休止中。いつか戻ってくるかもしれない。
			</p>
			<p class="text-center">
				シレン2のTAをする人が増えることを願って、シレン2総合の運営や不思議フェスのSuperStaffとして活動していた。
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	.text-center {
		text-align: center;
	}
	.profile-image {
		margin: 16px 0 0;
		text-align: center;
	}
	.profile-image img {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: cover;
	}
</style>
